<!DOCTYPE html>
<html>
  <head>
    <title>ThingsOnReddit | Explore items on Reddit</title>
    <%= csrf_meta_tags %>
    <%= render partial: 'meta' %>
    <%= render partial: 'ga' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
